@page
@model Escola.Pages.DiferenciaisModel
@{
    ViewData["Title"] = "Diferenciais";
    var professor = Model.x;
}
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Abordagem Pedagógica Inovadora
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>Na nossa escola, o ensino vai além do tradicional. Adotamos metodologias pedagógicas avançadas, como a Aprendizagem Baseada em Projetos (PBL) e a Educação Personalizada, para garantir que cada aluno tenha uma jornada educacional adaptada às suas necessidades e interesses individuais. Aqui, os alunos não apenas aprendem, mas se envolvem ativamente no processo educativo, desenvolvendo habilidades críticas e criativas.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Tecnologia Integrada ao Ensino
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>
                    Estamos na vanguarda da integração tecnológica na educação. Nossas salas de aula estão equipadas com lousas digitais interativas e ferramentas de última geração que facilitam uma aprendizagem dinâmica e interativa. Utilizamos plataformas digitais para apoiar o ensino e a aprendizagem, permitindo que os alunos acessem recursos educativos e participem de atividades interativas tanto na escola quanto em casa.
                </p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Corpo Docente de Excelência
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>
                    Nossos professores são especialistas apaixonados pelo que fazem, com formação acadêmica sólida e experiência prática em suas áreas. Investimos continuamente na capacitação da nossa equipe docente, assegurando que estejam sempre atualizados com as melhores práticas pedagógicas e inovadoras.
                </p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Infraestrutura Moderna e Acolhedora
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>
                    Nossa escola conta com uma infraestrutura moderna e bem cuidada, incluindo salas de aula confortáveis, laboratórios equipados, espaços de lazer e áreas de aprendizado ao ar livre. Criamos um ambiente de aprendizado seguro e estimulante, onde os alunos se sentem confortáveis e inspirados a explorar e crescer.
                </p>
            </div>
        </div>
    </div>
    <div class="accordion-item" >
        <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed"  type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Acompanhamento e Suporte Personalizado
            </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>
                    Oferecemos acompanhamento contínuo e personalizado do progresso acadêmico e desenvolvimento pessoal dos alunos. Nossos educadores e equipe de apoio trabalham em conjunto com os alunos e suas famílias para garantir que cada um alcance seu pleno potencial, proporcionando um suporte dedicado e eficaz.
                </p>
            </div>
        </div>
    </div>
</div>
<br />

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="color:black; background-color:burlywood; border:none">
    Corpo Docente
</button>

<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Docentes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                            <div class="container mt-4" >
                    <h2>Corpo Docente</h2>
                                <div class="row mt-4">
                                    @for (int i = 0; i < professor.Count; i++)
                                    {
                                        var y = professor[i];
                            <div class="card" style="width: 18rem; margin:10px">
                                <img src="@y.ImagemUrl" class="img-fluid movie-image" alt="" style="height: 150px; width:200px">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p><strong>Descrição:</strong> @y.Descricao</p>
                                    
                                   
                                </div>
                            </div>
                                    }
                                </div>
                            </div>
                        
            </div>
        
    
            
     </div>   
    </div>
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2" style="color:black; background-color:burlywood;border:none">
    Localização
</button>

<!-- Modal -->
<div class="modal fade " id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12353.16109837224!2d-43.35668776468027!3d-23.001115811621858!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9bda47e226065f%3A0xe278084fdefa5a52!2sBarra%20da%20Tijuca%2C%20Rio%20de%20Janeiro%20-%20RJ%2C%2022640-100!5e0!3m2!1spt-BR!2sbr!4v1725317116063!5m2!1spt-BR!2sbr" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            
        </div>
    </div>
</div>



<script>
    var myModal = document.getElementById('myModal')
    var myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', function () {
        myInput.focus()
    })
</script>

<style>
    .accordion-button:not(.collapsed) {
        color: black;
        background-color: burlywood;
        box-shadow: none;
        border:none;
    }

    .accordion-button:focus {
        z-index: 3;
        border: none;
    }

    /* From Uiverse.io by gharsh11032000 */
    .card {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 320px;
        border: none;
        line-height: 1.6;
        transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        padding: 36px;
        border-radius: 22px;
        color: #ffffff;
        overflow: hidden;
        background: #0a3cff;
        transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    }

        .content::before {
            position: absolute;
            content: "";
            top: -4%;
            left: 50%;
            width: 90%;
            height: 90%;
            transform: translate(-50%);
            background: #ced8ff;
            z-index: -1;
            transform-origin: bottom;
            border-radius: inherit;
            transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
        }

        .content::after {
            position: absolute;
            content: "";
            top: -8%;
            left: 50%;
            width: 80%;
            height: 80%;
            transform: translate(-50%);
            background: #e7ecff;
            z-index: -2;
            transform-origin: bottom;
            border-radius: inherit;
            transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
        }

        .content svg {
            width: 48px;
            height: 48px;
        }

        .content .para {
            z-index: 1;
            opacity: 1;
            font-size: 18px;
            transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
        }

        .content .link {
            z-index: 1;
            color: #fea000;
            text-decoration: none;
            font-family: inherit;
            font-size: 16px;
            transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
        }

            .content .link:hover {
                text-decoration: underline;
            }

    .card:hover {
        transform: translate(0px, -16px);
    }

        .card:hover .content::before {
            rotate: -8deg;
            top: 0;
            width: 100%;
            height: 100%;
        }

        .card:hover .content::after {
            rotate: 8deg;
            top: 0;
            width: 100%;
            height: 100%;
        }

</style>
