@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    

    <p class="line anim-typewriter" style="font-size: 30px">Bem-vindo à <strong>Escola .Net</strong> – Sua Jornada no Mundo .NET Começa Aqui!</p>
    

   
    <div>
        <div class="promo" style="padding-top: 80px; padding-bottom: 30px; color: black; font-size: 30px;">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-3">
                        <div class="milestone_counter" data-sign-before="+" data-end-value="2000">+2000</div>
                        <div class="milestone_text">Aulas<br><br><br></div>
                    </div>
                    <div class="col-md-3">
                        <div class="milestone_counter" data-sign-before="+" data-end-value="350">+350</div>
                        <div class="milestone_text">horas de aula<br><br><br></div>
                    </div>
                    <div class="col-md-3">
                        <div class="milestone_counter" data-sign-before="+" data-end-value="90000">+90000</div>
                        <div class="milestone_text">alunos<br><br><br></div>
                    </div>
                    <div class="col-md-3">
                        <div class="milestone_counter" data-sign-before="+" data-end-value="120000">+120000</div>
                        <div class="milestone_text">certificados emitidos<br><br><br></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="courses-home" style="">
        <div class="container">
            <div class="row courses_row">
                <div class="col-lg-3 col-md-6 col-sm-6 py-2">
                    <div class="card text-white bg-arquitetura mb-3" style="background-color:burlywood; width: 300px; height: 400px">
                            <div class="text-center">
                                <img style="width: 100px; height: 100px; margin-top: 20px;" src="https://desenvolvedorio.blob.core.windows.net/site/imagens/arquitetura_thumb.svg" alt="Arquitetura de Software">
                                <div class="card-body">
                                    <h3 class="card-title modern-font">Arquitetura</h3>
                                    <br>
                                    <div class="text-card">
                                        Aprenda na prática como planejar arquiteturas, implementar padrões e modelagem de software.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 py-2">
                    <div class="card text-white bg-super-dark bg-backend mb-3" style="background-color:burlywood; width: 300px; height: 400px">
                        
                            <div class="text-center">
                                <img style="width: 100px; height: 100px; margin-top: 20px;" src="https://desenvolvedorio.blob.core.windows.net/site/imagens/back-end.png" alt="Backend">
                                <div class="card-body">
                                    <h3 class="card-title modern-font">Backend</h3>
                                    <br>
                                    <div class="text-card">
                                        Aprenda a desenvolver APIs, APPs server side e Microsserviços da forma certa e direto ao ponto.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 py-2">
                    <div class="card text-white bg-super-dark bg-frontend mb-3" style="background-color:burlywood; width: 300px; height: 400px">
                        
                            <div class="text-center">
                                <img style="width: 100px; height: 100px; margin-top: 20px;" src="https://desenvolvedorio.blob.core.windows.net/site/imagens/front-end.png" alt="Frontend">
                                <div class="card-body">
                                    <h3 class="card-title modern-font">Frontend</h3>
                                    <br>
                                    <div class="text-card">
                                        Aprenda na prática como funcionam as tecnologias SPA e aplicações com Javascript e Typescript.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 py-2">
                    <div class="card text-white bg-super-dark bg-acessodados mb-3" style="background-color:burlywood; width: 300px; height: 400px">
                            <div class="text-center">
                                <img style="width: 100px; height: 100px; margin-top: 20px;" src="https://desenvolvedorio.blob.core.windows.net/images/SQL.svg" alt="Acesso a dados">
                                <div class="card-body">
                                    <h3 class="card-title modern-font">Acesso a dados</h3>
                                    <br>
                                    <div class="text-card">
                                        Aprenda tudo sobre bancos de dados, modelar/mapear tabelas e criar consultas com o uso de ORMs.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

                                   