body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #0c2340;
}

header {
    background: #0c2340; /* Azul escuro */
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #ffffff;
    margin: 0 1px;
    text-decoration: none;
}

.container {
    padding: 00px;
}

footer {
    background: #0c2340; /* Azul escuro */
    color: #ffffff;
    text-align: center;
    padding: 5px ;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.navbar-brand img {
    height: auto; /* Ajuste conforme necessário para manter a proporção */
    max-height: 70px; /* Exemplo de altura máxima */
}
.navbar-collapse {
    padding: 0;
    margin: 0;
}
