@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h1 class="display-4">Olá mundo!</h1>
                <p>Learn about <a href="https://docs.microsoft.com/aspnet/core" class="text-primary">building Web apps with ASP.NET Core</a>.</p>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="https://www.google.com.br/maps/place/Supermercados+Guanabara/23.0064128,43.3586176,14z/data=!4m6!3m5!1s0x9bda0deb0b0adf:0xa9f7be1b3e94ffe6!8m2!3d-23.0012743!4d-43.3381144!16s%2Fg%2F1ptxc_v6k?hl=pt-BR&entry=ttu&g_ep=EgoyMDI0MDgyOC4wIKXMDSoASAFQAw%3D%3D">Maps</a>
                </li>
            </div>
        </div>
    </div>
</div>