@page
@model Aulaa_11.Pages.ServicosModel
@{
    ViewData["Title"] = "Serviços";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Nossos Serviços</h2>
            <ul class="list-unstyled">
                <li>Desenvolvimento Web</li>
                <li>Consultoria em TI</li>
                <li>Manutenção de Sistemas</li>
                <li>Design UX/UI</li>
            </ul>
        </div>
    </div>
</div>
