@page
@model Aulaa_11.Pages.SobreModel
@{
}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Sobre Nós</h2>
            <p class="text-justify">
                Somos uma empresa dedicada a fornecer as melhores soluções tecnológicas para nossos clientes.
                Nosso objetivo é sempre superar as expectativas e entregar produtos de alta qualidade.
            </p>
        </div>
    </div>
</div>
