@model List<Pessoa>

<h2>Lista de Pessoas</h2>

@if (Model != null && Model.Any())
{
    <table>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Idade</th>
        </tr>
        @foreach (var pessoa in Model)
        {
            <tr>
                <td>@pessoa.Id</td>
                <td>@pessoa.Nome</td>
                <td>@pessoa.Idade</td>
            </tr>
        }
    </table>
}
else
{
    <p>Nenhuma pessoa cadastrada.</p>
}

@Html.ActionLink("Criar Nova Pessoa", "Criar", "Pessoa")